<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1 th:text="#{label.form.title}">form</h1>
<form action="/" th:object="${user}" method="POST" enctype="utf8">

  <div>
    <label >name</label>
    <input th:field="*{userName}"/>
    <p th:each="error : ${#fields.errors('userName')}"
       th:text="${error}">Validation error</p>
  </div>

  <div>
    <label >password</label>
    <input type="password" th:field="*{encrytedPassword}"/>
    <p th:each="error : ${#fields.errors('userName')}"
       th:text="${error}">Validation error</p>
  </div>

  <button type="submit" >submit</button>
</form>

</body>
</html>