



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log Out</title>
    <link rel="stylesheet" id="css-cdn" href="https://static.eu1.mindsphere.io/mdsp-css/v1.15.0/css/mdsp-css.min.css" />
    <link rel="stylesheet" id="css-cdn" href="./mdsp-css.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        .dialog.dialog--confirm.confirm--custom{

        }
    </style>
</head>

<body class="mdsp mdsp-defaults forceDefaultElements">

<div class="dialog is-shown dialog--confirm confirm--info">
    <div class="dialog__overlay"></div>
    <div class="dialog__container">
        <div class="dialog__background has-borderColor-forced-base001">
            <section class="confirm__icon "><i class="iconMdsp assetNetwork has-color-forced-accentTealDark has-borderColor-forced-base001"></i></section>
            <section class="dialog__content">
                <h1 class="confirm__headline">Đăng xuất</h1>
                <p>
                    Bạn có chắc chắn muốn đăng xuất ?
                </p>
            </section>
            <footer class="dialog__footer">
                <a class="button button--secondary" href="#">Quay lại</a>
                <a class="button button--primary has-borderColor-forced-base001" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Đăng xuất</a>
            </footer>
        </div>
    </div>
</div>
</body>
</html>